{% extends './basic.html' %}

{% block main %}
<br>
<br>
<br>

<div class="card">

  <!-- Card image -->

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a>{{ object.title }}</a></h4>
    <h6 class="card-title"><a href={% url 'home-user' object.author %}>{{ object.author }}</a></h6>
    <!-- Text -->
    <p class="card-text">{{ object.content }}</p>
  </div>
  {% if object.author.id == user.id %}
  <a type="button" class="btn btn-primary" href={% url 'home-updatepost' object.id%}>Update</a>
  <a type="button" class="btn btn-danger" href={% url 'home-deletepost' object.id%}>Delete</a>
  {% endif %}
</div>
<!-- Card -->

{% endblock main %}
